<table id="record-type-table" class="table">
  <thead class="bg-stone-800">
    <tr>
      <th class="p-3 border-b border-stone-700" />
      <th class="p-3 border-b border-stone-700">Name</th>
      <th class="p-3 border-b border-stone-700">Fields</th>
      <th class="p-3 border-b border-stone-700" />
    </tr>
  </thead>
  <tbody>
    {% for rt in record_types %}
    <tr>
      <td class="bg-stone-800 p-3 border-b border-stone-700 align-top">
        {{ loop.index }}
      </td>

      <td class="p-3 border-b border-stone-700 align-top">
        <div class="p-3 border border-stone-700 font-bold">
          {{ rt.name }}
        </div>
      </td>

      <td class="p-3 border-b border-stone-700 align-top">
        <table class="table">
          <tr>
            <td class="bg-stone-800 font-bold p-3 border border-stone-700">
              ID
            </td>
            <td class="p-3 border border-stone-700">
              {% for field in rt.id_fields %}
              {{ field }}
              {% if !loop.last %} , {% endif %}
              {% endfor %}
            </td>
          </tr>

          <tr>
            <td class="bg-stone-800 font-bold p-3 border border-stone-700">
              Data
            </td>
            <td class="p-3 border border-stone-700">
              {% for field in rt.data_fields %}
              {{ field }}
              {% if !loop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>

          <tr>
            <td class="bg-stone-800 font-bold p-3 border border-stone-700">
              Metadata
            </td>
            <td class="p-3 border border-stone-700">
              {% for field in rt.metadata_fields %}
              {{ field }}
              {% if !loop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        </table>
      </td>
      <td class="bg-stone-800 border-b border-stone-700 align-top">
        <button class="button m-2 bg-red-800 hover:bg-red-700 m-2" hx-delete="/record-types/{{ rt.name }}"
          hx-target="#record-type-table">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>