<form id="{{state_id}}-{{field}}" autocomplete="on" hx-post="/states/{{state_id}}/{{fact_type}}/{{field}}/specified"
  hx-swap="innerHTML" hx-target="#{{state_id}}-{{field}}-cell" class="px-6">
  <input type="text" name="{{state_id}}.{{field}}" disabled placeholder="Anything"
    class="border rounded-sm p-2 leading-tight focus:outline-amber-700 focus:outline-4 disabled:border-amber-100 disabled:bg-stone-800 disabled:text-amber-100 disabled:cursor-not-allowed " />
</form>
<div class="w-42">
  <button type="submit" form="{{state_id}}-{{field}}" class="m-1 button">Specify</button>
</div>