<table class="table">
  <thead>
    <tr>
      {% for field in path.initial_state.type_.data_fields %}
      <td class="p-6 border-b border-stone-900">
        {{ field }}
      </td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for value in path.initial_state.values %}
      <td class="p-6 border-b border-stone-900">
        {{ value }}
      </td>
      {% endfor %}
    </tr>
    {% for step in path.steps %}
    <tr>
      {% for value in step.after.values %}
      {% if let Some(x) = step.diffs[loop.index0] %}
      <td class="p-6 border-b border-stone-900 bg-red">
        {% else %}
      <td class="p-6 border-b border-stone-900">
        {% endif %}
        {{ value }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>