<table style="border: 1px solid black">
  <thead>
    <tr style="border: 1px solid black">
      {% for field in path.initial_state.type_.data_fields %}
      <td style="border: 1px solid black">
        {{ field }}
      </td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr style="border: 1px solid black">
      {% for value in path.initial_state.values %}
      <td style="border: 1px solid black">
        {{ value }}
      </td>
      {% endfor %}
    </tr>
    {% for step in path.steps %}
    <tr style="border: 1px solid black">
      {% for value in step.after.values %}
      {% if let Some(x) = step.diffs[loop.index0] %}
      <td style="border: 1px solid black; background-color: khaki;">
        {% else %}
      <td style="border: 1px solid black">
        {% endif %}
        {{ value }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>