{% extends "layout.html" %} {% block content %}
<form action="/facts" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input id="search" type="search" name="q" value="" />
  <input type="submit" value="Search" />
</form>
<table>
  <thead>
    <tr>
      <th>Run #</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for fact in facts %}
    <tr>
      <td>{{ fact }}</td>
      <td>
        <a href="/facts/{{ fact }}/edit">Edit</a>
        <a href="/facts/{{ fact }}">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p><a href="/facts/new">Add fact</a></p>
{% endblock %}
