{% extends "layout.html" %} {% block content %}
<table class="table">
  <tbody>
    {% for record_type in record_types %}
    <tr>
      <td class="p-6 border-b border-stone-900">
        {{ record_type }}
      </td>
      <td class="p-6 border-b border-stone-900">
        <a href="/{{ record_type }}/facts" class="link">
          Facts
        </a>
      </td>
      <td class="p-6 border-b border-stone-900">
        <a href="/{{ record_type }}/state-changes" class="link">
          State changes
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}