<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://unpkg.com/htmx.org@1.9.11"
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
      crossorigin="anonymous"
    ></script>
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    /> -->
    <title>Pythia</title>
  </head>
  <body>
    <main style="display: flex">
      <div style="display: flex; flex-direction: column">
        <h2>Start state</h2>
        <div id="start-state">
          <input type="text" hidden name="_fact_type" value="{{fact_type}}" />
          {% for field in start_state_fields %}
          <div>
            <label>{{field}}</label>
            <form hx-post="/start-state/{{fact_type}}/{{field}}/specified" hx-swap="outerHTML">
              <input type="text" name="0.{{field}}" disabled />
              <button type="submit">Edit</button>
            </form>
          </div>
          {% endfor %}
        </div>
      </div>
      <div style="padding: 0 2em;">
        <h1>State changes</h1>
        <div id="content">{% block content %}{% endblock %}</div>
        <hr/>
        <form hx-get="/all-state-changes" hx-target="#state-changes">
          <button type="submit">Calculate all state-changes</button>
          <input type="hidden" name="calc-goal-type" value="arc"/>
        </form>
        <form hx-get="/state-changes" hx-target="#state-changes" hx-include="#start-state :not([disabled])">
          <button type="submit">Calculate state-changes from start state</button>
        </form>
        <div id="state-changes">state changes</div>
      </div>
      <div style="display: flex; flex-direction: column">
        <h2>End state</h2>
        <form hx-put="/start-state" hx-swap="none">
          {% for field in start_state_fields %}
          <div>
            <label>{{field}}</label>
            <input type="text" name={{ field }} placeholder="{{ field }}" disabled />
          </div>
          {% endfor %}
        </form>
      </div>
    </main>
  </body>
</html>
