<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link href="/static/style.css" rel="stylesheet">
  <title>Pythia</title>
</head>

<body class="bg-stone-900 text-amber-100 font-monospace">
  <header class="px-10 py-6 bg-stone-800">
    <h1 class="text-3xl font-bold hover:border-dotted hover:border-b-amber-700 hover:text-amber-400 focus:border-solid focus:border-b-amber-700">
      Pythia
    </h1>
  </header>
  <main class="flex" id="main-content">
    {% block content %} {% endblock %}
  </main>
</body>

</html>