<div x-data="{ viewType: 'list' }">
  {% if let Some(message) = error_message %}
  <details>
    <summary>There was an error in calculating paths</summary>
    {{message}}
  </details>
  {% else if paths.is_empty() %}
  <div>No state changes found.</div>
  {% else %}
  <div>
    <input type="radio" id="table-view" value="table" x-model="viewType">
    <label for="table-view">Table view</label>
    <input type="radio" id="list-view" value="list" x-model="viewType">
    <label for="list-view">List view</label>
  </div>
  <table style="border: 1px solid black">
    <tbody>
      {% for path in paths %}
      <tr style="border: 1px solid black">
        <td style="border: 1px solid black">
          <div>
            <p>Context: {{path.context}}</p>
            <p>ID: {{path.id}}</p>
          </div>

          <div x-show="viewType === 'list'">
            {% include "change-path-list-view.html" %}
          </div>

          <div x-show="viewType === 'table'">
            {% include "change-path-table-view.html" %}
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>