{% extends "layout.html" %} {% block content %}
<div style="display: flex; flex-direction: column; border-right: 1px solid black;">
    <h1>States</h1>
    <fieldset>
      <legend>Start state</legend>
      <div id="start-state-inputs">
        <table>
        {% let state_id = "start" %}
        {% for (field, value) in start_state_values %}
          <tr>
            <td>
              <label for="start-{{field}}" style="text-align: right; margin-right: 10px;">{{field}}</label>
            </td>
            <td id="start-{{field}}-cell" style="display: flex;">
              {% if value == "" %}
                {% include "set-field-to-unspecified.html" %}
              {% else %}
                {% include "set-field-to-specified.html" %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
      </div>
    </fieldset>

    <fieldset>
      <legend>End state</legend>
      <div id="end-state-inputs">
        <table>
        {% let state_id = "end" %}
        {% for (field, value) in end_state_values %}
          <tr>
            <td>
              <label for="end-{{field}}" style="text-align: right; margin-right: 10px;">{{field}}</label>
            </td>
            <td id="end-{{field}}-cell" style="display: flex;">
              {% if value == "" %}
                {% include "set-field-to-unspecified.html" %}
              {% else %}
                {% include "set-field-to-specified.html" %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
      </div>
    </fieldset>

    <form hx-get="/state-changes/{{fact_type}}" hx-push-url="true" hx-target="#state-change-paths" hx-include="#start-state-inputs :not([disabled]), #end-state-inputs :not([disabled])">
      <label for="steps">Number of Steps:</label>
      <input type="number" id="steps" name="num-steps" min="1" max="100" value="{{num_steps}}" />
      <button type="submit">
        Calculate N-step paths
      </button>
    </form>

  </div>
  <div style="padding: 0 2em">
    <h1>State changes</h1>
    <div id="state-change-paths" />
  </div>
{% endblock %}